[Unit]
Description=Texecom Connect
After=network.target

[Service]
EnvironmentFile=/etc/texecom-connect/config
ExecStart=/usr/bin/python2 alarm-monitor.py
WorkingDirectory=/var/lib/texecom-connect
StandardOutput=inherit
StandardError=inherit
RestartSec=30
Restart=always
User=openhabian

[Install]
WantedBy=multi-user.target